/linux-app/
.terraform/
**/.terraform/*

*.tfstate
*.tfstate.*
terraform.tfstate.d/
crash.log
crash.*.log

*.tfplan
*.plan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

*.tfvars
*.tfvars.json

!*.tfvars.example
!*.tfvars.json.example

*.pem
dev-key
dev-key.pub
id_ed25519
id_ed25519.pub
*.key
*.p12

.vscode/
.idea/
.DS_Store
